// Variables for the dark mode theme
@use "./colors.module.scss" as colors;

// text
$text-primary: colors.$grey-50;
$text-secondary: colors.$grey-100;
$text-disabled: colors.$grey-300;

// divider
$divider-main: colors.$grey-600;

// background
$background: colors.$black;
$background-layer-0: colors.$grey-900;
$background-layer-1: colors.$grey-800;
$background-layer-2: colors.$grey-700;
$background-layer-3: colors.$grey-600;
$background-layer-4: colors.$grey-500;
$background-layer-5: colors.$grey-400;
