// Variables for the light mode theme
@import "./colors.module.scss";

// text
$light-text-primary: $grey-900;
$light-text-secondary: $grey-600;
$light-text-disabled: $grey-400;

// divider
$light-divider-main: $grey-100;

// background
$light-background: $white;
$light-background-layer-0: $grey-50;
$light-background-layer-1: $grey-100;
$light-background-layer-2: $grey-200;
$light-background-layer-3: $grey-300;
$light-background-layer-4: $grey-400;
$light-background-layer-5: $grey-500;
