@use "./colors.module.scss" as colors;
@use "./light.module.scss" as light;
@use "./dark.module.scss" as dark;

.theme {
  --white: #{colors.$white};
  --black: #{colors.$black};
  --grey-main: #{colors.$grey-main};
  --grey-50: #{colors.$grey-50};
  --grey-100: #{colors.$grey-100};
  --grey-200: #{colors.$grey-200};
  --grey-300: #{colors.$grey-300};
  --grey-400: #{colors.$grey-400};
  --grey-500: #{colors.$grey-500};
  --grey-600: #{colors.$grey-600};
  --grey-700: #{colors.$grey-700};
  --grey-800: #{colors.$grey-800};
  --grey-900: #{colors.$grey-900};
  --cool-grey-main: #{colors.$cool-grey-main};
  --cool-grey-50: #{colors.$cool-grey-50};
  --cool-grey-100: #{colors.$cool-grey-100};
  --cool-grey-200: #{colors.$cool-grey-200};
  --cool-grey-300: #{colors.$cool-grey-300};
  --cool-grey-400: #{colors.$cool-grey-400};
  --cool-grey-500: #{colors.$cool-grey-500};
  --cool-grey-600: #{colors.$cool-grey-600};
  --cool-grey-700: #{colors.$cool-grey-700};
  --cool-grey-800: #{colors.$cool-grey-800};
  --cool-grey-900: #{colors.$cool-grey-900};
  --warm-grey-main: #{colors.$warm-grey-main};
  --warm-grey-50: #{colors.$warm-grey-50};
  --warm-grey-100: #{colors.$warm-grey-100};
  --warm-grey-200: #{colors.$warm-grey-200};
  --warm-grey-300: #{colors.$warm-grey-300};
  --warm-grey-400: #{colors.$warm-grey-400};
  --warm-grey-500: #{colors.$warm-grey-500};
  --warm-grey-600: #{colors.$warm-grey-600};
  --warm-grey-700: #{colors.$warm-grey-700};
  --warm-grey-800: #{colors.$warm-grey-800};
  --warm-grey-900: #{colors.$warm-grey-900};
  --brown-main: #{colors.$brown-main};
  --brown-50: #{colors.$brown-50};
  --brown-100: #{colors.$brown-100};
  --brown-200: #{colors.$brown-200};
  --brown-300: #{colors.$brown-300};
  --brown-400: #{colors.$brown-400};
  --brown-500: #{colors.$brown-500};
  --brown-600: #{colors.$brown-600};
  --brown-700: #{colors.$brown-700};
  --brown-800: #{colors.$brown-800};
  --brown-900: #{colors.$brown-900};
  --red-main: #{colors.$red-main};
  --red-50: #{colors.$red-50};
  --red-100: #{colors.$red-100};
  --red-200: #{colors.$red-200};
  --red-300: #{colors.$red-300};
  --red-400: #{colors.$red-400};
  --red-500: #{colors.$red-500};
  --red-600: #{colors.$red-600};
  --red-700: #{colors.$red-700};
  --red-800: #{colors.$red-800};
  --red-900: #{colors.$red-900};
  --crimson-main: #{colors.$crimson-main};
  --crimson-50: #{colors.$crimson-50};
  --crimson-100: #{colors.$crimson-100};
  --crimson-200: #{colors.$crimson-200};
  --crimson-300: #{colors.$crimson-300};
  --crimson-400: #{colors.$crimson-400};
  --crimson-500: #{colors.$crimson-500};
  --crimson-600: #{colors.$crimson-600};
  --crimson-700: #{colors.$crimson-700};
  --crimson-800: #{colors.$crimson-800};
  --crimson-900: #{colors.$crimson-900};
  --orange-main: #{colors.$orange-main};
  --orange-50: #{colors.$orange-50};
  --orange-100: #{colors.$orange-100};
  --orange-200: #{colors.$orange-200};
  --orange-300: #{colors.$orange-300};
  --orange-400: #{colors.$orange-400};
  --orange-500: #{colors.$orange-500};
  --orange-600: #{colors.$orange-600};
  --orange-700: #{colors.$orange-700};
  --orange-800: #{colors.$orange-800};
  --orange-900: #{colors.$orange-900};
  --amber-main: #{colors.$amber-main};
  --amber-50: #{colors.$amber-50};
  --amber-100: #{colors.$amber-100};
  --amber-200: #{colors.$amber-200};
  --amber-300: #{colors.$amber-300};
  --amber-400: #{colors.$amber-400};
  --amber-500: #{colors.$amber-500};
  --amber-600: #{colors.$amber-600};
  --amber-700: #{colors.$amber-700};
  --amber-800: #{colors.$amber-800};
  --amber-900: #{colors.$amber-900};
  --yellow-main: #{colors.$yellow-main};
  --yellow-50: #{colors.$yellow-50};
  --yellow-100: #{colors.$yellow-100};
  --yellow-200: #{colors.$yellow-200};
  --yellow-300: #{colors.$yellow-300};
  --yellow-400: #{colors.$yellow-400};
  --yellow-500: #{colors.$yellow-500};
  --yellow-600: #{colors.$yellow-600};
  --yellow-700: #{colors.$yellow-700};
  --yellow-800: #{colors.$yellow-800};
  --yellow-900: #{colors.$yellow-900};
  --lime-main: #{colors.$lime-main};
  --lime-50: #{colors.$lime-50};
  --lime-100: #{colors.$lime-100};
  --lime-200: #{colors.$lime-200};
  --lime-300: #{colors.$lime-300};
  --lime-400: #{colors.$lime-400};
  --lime-500: #{colors.$lime-500};
  --lime-600: #{colors.$lime-600};
  --lime-700: #{colors.$lime-700};
  --lime-800: #{colors.$lime-800};
  --lime-900: #{colors.$lime-900};
  --light-green-main: #{colors.$light-green-main};
  --light-green-50: #{colors.$light-green-50};
  --light-green-100: #{colors.$light-green-100};
  --light-green-200: #{colors.$light-green-200};
  --light-green-300: #{colors.$light-green-300};
  --light-green-400: #{colors.$light-green-400};
  --light-green-500: #{colors.$light-green-500};
  --light-green-600: #{colors.$light-green-600};
  --light-green-700: #{colors.$light-green-700};
  --light-green-800: #{colors.$light-green-800};
  --light-green-900: #{colors.$light-green-900};
  --green-main: #{colors.$green-main};
  --green-50: #{colors.$green-50};
  --green-100: #{colors.$green-100};
  --green-200: #{colors.$green-200};
  --green-300: #{colors.$green-300};
  --green-400: #{colors.$green-400};
  --green-500: #{colors.$green-500};
  --green-600: #{colors.$green-600};
  --green-700: #{colors.$green-700};
  --green-800: #{colors.$green-800};
  --green-900: #{colors.$green-900};
  --teal-main: #{colors.$teal-main};
  --teal-50: #{colors.$teal-50};
  --teal-100: #{colors.$teal-100};
  --teal-200: #{colors.$teal-200};
  --teal-300: #{colors.$teal-300};
  --teal-400: #{colors.$teal-400};
  --teal-500: #{colors.$teal-500};
  --teal-600: #{colors.$teal-600};
  --teal-700: #{colors.$teal-700};
  --teal-800: #{colors.$teal-800};
  --teal-900: #{colors.$teal-900};
  --cyan-main: #{colors.$cyan-main};
  --cyan-50: #{colors.$cyan-50};
  --cyan-100: #{colors.$cyan-100};
  --cyan-200: #{colors.$cyan-200};
  --cyan-300: #{colors.$cyan-300};
  --cyan-400: #{colors.$cyan-400};
  --cyan-500: #{colors.$cyan-500};
  --cyan-600: #{colors.$cyan-600};
  --cyan-700: #{colors.$cyan-700};
  --cyan-800: #{colors.$cyan-800};
  --cyan-900: #{colors.$cyan-900};
  --light-blue-main: #{colors.$light-blue-main};
  --light-blue-50: #{colors.$light-blue-50};
  --light-blue-100: #{colors.$light-blue-100};
  --light-blue-200: #{colors.$light-blue-200};
  --light-blue-300: #{colors.$light-blue-300};
  --light-blue-400: #{colors.$light-blue-400};
  --light-blue-500: #{colors.$light-blue-500};
  --light-blue-600: #{colors.$light-blue-600};
  --light-blue-700: #{colors.$light-blue-700};
  --light-blue-800: #{colors.$light-blue-800};
  --light-blue-900: #{colors.$light-blue-900};
  --blue-main: #{colors.$blue-main};
  --blue-50: #{colors.$blue-50};
  --blue-100: #{colors.$blue-100};
  --blue-200: #{colors.$blue-200};
  --blue-300: #{colors.$blue-300};
  --blue-400: #{colors.$blue-400};
  --blue-500: #{colors.$blue-500};
  --blue-600: #{colors.$blue-600};
  --blue-700: #{colors.$blue-700};
  --blue-800: #{colors.$blue-800};
  --blue-900: #{colors.$blue-900};
  --indigo-main: #{colors.$indigo-main};
  --indigo-50: #{colors.$indigo-50};
  --indigo-100: #{colors.$indigo-100};
  --indigo-200: #{colors.$indigo-200};
  --indigo-300: #{colors.$indigo-300};
  --indigo-400: #{colors.$indigo-400};
  --indigo-500: #{colors.$indigo-500};
  --indigo-600: #{colors.$indigo-600};
  --indigo-700: #{colors.$indigo-700};
  --indigo-800: #{colors.$indigo-800};
  --indigo-900: #{colors.$indigo-900};
  --purple-main: #{colors.$purple-main};
  --purple-50: #{colors.$purple-50};
  --purple-100: #{colors.$purple-100};
  --purple-200: #{colors.$purple-200};
  --purple-300: #{colors.$purple-300};
  --purple-400: #{colors.$purple-400};
  --purple-500: #{colors.$purple-500};
  --purple-600: #{colors.$purple-600};
  --purple-700: #{colors.$purple-700};
  --purple-800: #{colors.$purple-800};
  --purple-900: #{colors.$purple-900};
  --pink-main: #{colors.$pink-main};
  --pink-50: #{colors.$pink-50};
  --pink-100: #{colors.$pink-100};
  --pink-200: #{colors.$pink-200};
  --pink-300: #{colors.$pink-300};
  --pink-400: #{colors.$pink-400};
  --pink-500: #{colors.$pink-500};
  --pink-600: #{colors.$pink-600};
  --pink-700: #{colors.$pink-700};
  --pink-800: #{colors.$pink-800};
  --pink-900: #{colors.$pink-900};
  --text-primary: #{light.$text-primary};
  --text-secondary: #{light.$text-secondary};
  --text-disabled: #{light.$text-disabled};
  --divider-main: #{light.$divider-main};
  --background: #{light.$background};
  --background-layer-0: #{light.$background-layer-0};
  --background-layer-1: #{light.$background-layer-1};
  --background-layer-2: #{light.$background-layer-2};
  --background-layer-3: #{light.$background-layer-3};
  --background-layer-4: #{light.$background-layer-4};
  --background-layer-5: #{light.$background-layer-5};
}

@media (prefers-color-scheme: dark) {
  .theme {
    --white: #{colors.$white};
    --black: #{colors.$black};
    --grey-main: #{colors.$grey-main};
    --grey-50: #{colors.$grey-50};
    --grey-100: #{colors.$grey-100};
    --grey-200: #{colors.$grey-200};
    --grey-300: #{colors.$grey-300};
    --grey-400: #{colors.$grey-400};
    --grey-500: #{colors.$grey-500};
    --grey-600: #{colors.$grey-600};
    --grey-700: #{colors.$grey-700};
    --grey-800: #{colors.$grey-800};
    --grey-900: #{colors.$grey-900};
    --cool-grey-main: #{colors.$cool-grey-main};
    --cool-grey-50: #{colors.$cool-grey-50};
    --cool-grey-100: #{colors.$cool-grey-100};
    --cool-grey-200: #{colors.$cool-grey-200};
    --cool-grey-300: #{colors.$cool-grey-300};
    --cool-grey-400: #{colors.$cool-grey-400};
    --cool-grey-500: #{colors.$cool-grey-500};
    --cool-grey-600: #{colors.$cool-grey-600};
    --cool-grey-700: #{colors.$cool-grey-700};
    --cool-grey-800: #{colors.$cool-grey-800};
    --cool-grey-900: #{colors.$cool-grey-900};
    --warm-grey-main: #{colors.$warm-grey-main};
    --warm-grey-50: #{colors.$warm-grey-50};
    --warm-grey-100: #{colors.$warm-grey-100};
    --warm-grey-200: #{colors.$warm-grey-200};
    --warm-grey-300: #{colors.$warm-grey-300};
    --warm-grey-400: #{colors.$warm-grey-400};
    --warm-grey-500: #{colors.$warm-grey-500};
    --warm-grey-600: #{colors.$warm-grey-600};
    --warm-grey-700: #{colors.$warm-grey-700};
    --warm-grey-800: #{colors.$warm-grey-800};
    --warm-grey-900: #{colors.$warm-grey-900};
    --brown-main: #{colors.$brown-main};
    --brown-50: #{colors.$brown-50};
    --brown-100: #{colors.$brown-100};
    --brown-200: #{colors.$brown-200};
    --brown-300: #{colors.$brown-300};
    --brown-400: #{colors.$brown-400};
    --brown-500: #{colors.$brown-500};
    --brown-600: #{colors.$brown-600};
    --brown-700: #{colors.$brown-700};
    --brown-800: #{colors.$brown-800};
    --brown-900: #{colors.$brown-900};
    --red-main: #{colors.$red-main};
    --red-50: #{colors.$red-50};
    --red-100: #{colors.$red-100};
    --red-200: #{colors.$red-200};
    --red-300: #{colors.$red-300};
    --red-400: #{colors.$red-400};
    --red-500: #{colors.$red-500};
    --red-600: #{colors.$red-600};
    --red-700: #{colors.$red-700};
    --red-800: #{colors.$red-800};
    --red-900: #{colors.$red-900};
    --crimson-main: #{colors.$crimson-main};
    --crimson-50: #{colors.$crimson-50};
    --crimson-100: #{colors.$crimson-100};
    --crimson-200: #{colors.$crimson-200};
    --crimson-300: #{colors.$crimson-300};
    --crimson-400: #{colors.$crimson-400};
    --crimson-500: #{colors.$crimson-500};
    --crimson-600: #{colors.$crimson-600};
    --crimson-700: #{colors.$crimson-700};
    --crimson-800: #{colors.$crimson-800};
    --crimson-900: #{colors.$crimson-900};
    --orange-main: #{colors.$orange-main};
    --orange-50: #{colors.$orange-50};
    --orange-100: #{colors.$orange-100};
    --orange-200: #{colors.$orange-200};
    --orange-300: #{colors.$orange-300};
    --orange-400: #{colors.$orange-400};
    --orange-500: #{colors.$orange-500};
    --orange-600: #{colors.$orange-600};
    --orange-700: #{colors.$orange-700};
    --orange-800: #{colors.$orange-800};
    --orange-900: #{colors.$orange-900};
    --amber-main: #{colors.$amber-main};
    --amber-50: #{colors.$amber-50};
    --amber-100: #{colors.$amber-100};
    --amber-200: #{colors.$amber-200};
    --amber-300: #{colors.$amber-300};
    --amber-400: #{colors.$amber-400};
    --amber-500: #{colors.$amber-500};
    --amber-600: #{colors.$amber-600};
    --amber-700: #{colors.$amber-700};
    --amber-800: #{colors.$amber-800};
    --amber-900: #{colors.$amber-900};
    --yellow-main: #{colors.$yellow-main};
    --yellow-50: #{colors.$yellow-50};
    --yellow-100: #{colors.$yellow-100};
    --yellow-200: #{colors.$yellow-200};
    --yellow-300: #{colors.$yellow-300};
    --yellow-400: #{colors.$yellow-400};
    --yellow-500: #{colors.$yellow-500};
    --yellow-600: #{colors.$yellow-600};
    --yellow-700: #{colors.$yellow-700};
    --yellow-800: #{colors.$yellow-800};
    --yellow-900: #{colors.$yellow-900};
    --lime-main: #{colors.$lime-main};
    --lime-50: #{colors.$lime-50};
    --lime-100: #{colors.$lime-100};
    --lime-200: #{colors.$lime-200};
    --lime-300: #{colors.$lime-300};
    --lime-400: #{colors.$lime-400};
    --lime-500: #{colors.$lime-500};
    --lime-600: #{colors.$lime-600};
    --lime-700: #{colors.$lime-700};
    --lime-800: #{colors.$lime-800};
    --lime-900: #{colors.$lime-900};
    --light-green-main: #{colors.$light-green-main};
    --light-green-50: #{colors.$light-green-50};
    --light-green-100: #{colors.$light-green-100};
    --light-green-200: #{colors.$light-green-200};
    --light-green-300: #{colors.$light-green-300};
    --light-green-400: #{colors.$light-green-400};
    --light-green-500: #{colors.$light-green-500};
    --light-green-600: #{colors.$light-green-600};
    --light-green-700: #{colors.$light-green-700};
    --light-green-800: #{colors.$light-green-800};
    --light-green-900: #{colors.$light-green-900};
    --green-main: #{colors.$green-main};
    --green-50: #{colors.$green-50};
    --green-100: #{colors.$green-100};
    --green-200: #{colors.$green-200};
    --green-300: #{colors.$green-300};
    --green-400: #{colors.$green-400};
    --green-500: #{colors.$green-500};
    --green-600: #{colors.$green-600};
    --green-700: #{colors.$green-700};
    --green-800: #{colors.$green-800};
    --green-900: #{colors.$green-900};
    --teal-main: #{colors.$teal-main};
    --teal-50: #{colors.$teal-50};
    --teal-100: #{colors.$teal-100};
    --teal-200: #{colors.$teal-200};
    --teal-300: #{colors.$teal-300};
    --teal-400: #{colors.$teal-400};
    --teal-500: #{colors.$teal-500};
    --teal-600: #{colors.$teal-600};
    --teal-700: #{colors.$teal-700};
    --teal-800: #{colors.$teal-800};
    --teal-900: #{colors.$teal-900};
    --cyan-main: #{colors.$cyan-main};
    --cyan-50: #{colors.$cyan-50};
    --cyan-100: #{colors.$cyan-100};
    --cyan-200: #{colors.$cyan-200};
    --cyan-300: #{colors.$cyan-300};
    --cyan-400: #{colors.$cyan-400};
    --cyan-500: #{colors.$cyan-500};
    --cyan-600: #{colors.$cyan-600};
    --cyan-700: #{colors.$cyan-700};
    --cyan-800: #{colors.$cyan-800};
    --cyan-900: #{colors.$cyan-900};
    --light-blue-main: #{colors.$light-blue-main};
    --light-blue-50: #{colors.$light-blue-50};
    --light-blue-100: #{colors.$light-blue-100};
    --light-blue-200: #{colors.$light-blue-200};
    --light-blue-300: #{colors.$light-blue-300};
    --light-blue-400: #{colors.$light-blue-400};
    --light-blue-500: #{colors.$light-blue-500};
    --light-blue-600: #{colors.$light-blue-600};
    --light-blue-700: #{colors.$light-blue-700};
    --light-blue-800: #{colors.$light-blue-800};
    --light-blue-900: #{colors.$light-blue-900};
    --blue-main: #{colors.$blue-main};
    --blue-50: #{colors.$blue-50};
    --blue-100: #{colors.$blue-100};
    --blue-200: #{colors.$blue-200};
    --blue-300: #{colors.$blue-300};
    --blue-400: #{colors.$blue-400};
    --blue-500: #{colors.$blue-500};
    --blue-600: #{colors.$blue-600};
    --blue-700: #{colors.$blue-700};
    --blue-800: #{colors.$blue-800};
    --blue-900: #{colors.$blue-900};
    --indigo-main: #{colors.$indigo-main};
    --indigo-50: #{colors.$indigo-50};
    --indigo-100: #{colors.$indigo-100};
    --indigo-200: #{colors.$indigo-200};
    --indigo-300: #{colors.$indigo-300};
    --indigo-400: #{colors.$indigo-400};
    --indigo-500: #{colors.$indigo-500};
    --indigo-600: #{colors.$indigo-600};
    --indigo-700: #{colors.$indigo-700};
    --indigo-800: #{colors.$indigo-800};
    --indigo-900: #{colors.$indigo-900};
    --purple-main: #{colors.$purple-main};
    --purple-50: #{colors.$purple-50};
    --purple-100: #{colors.$purple-100};
    --purple-200: #{colors.$purple-200};
    --purple-300: #{colors.$purple-300};
    --purple-400: #{colors.$purple-400};
    --purple-500: #{colors.$purple-500};
    --purple-600: #{colors.$purple-600};
    --purple-700: #{colors.$purple-700};
    --purple-800: #{colors.$purple-800};
    --purple-900: #{colors.$purple-900};
    --pink-main: #{colors.$pink-main};
    --pink-50: #{colors.$pink-50};
    --pink-100: #{colors.$pink-100};
    --pink-200: #{colors.$pink-200};
    --pink-300: #{colors.$pink-300};
    --pink-400: #{colors.$pink-400};
    --pink-500: #{colors.$pink-500};
    --pink-600: #{colors.$pink-600};
    --pink-700: #{colors.$pink-700};
    --pink-800: #{colors.$pink-800};
    --pink-900: #{colors.$pink-900};
    --text-primary: #{dark.$text-primary};
    --text-secondary: #{dark.$text-secondary};
    --text-disabled: #{dark.$text-disabled};
    --divider-main: #{dark.$divider-main};
    --background: #{dark.$background};
    --background-layer-0: #{dark.$background-layer-0};
    --background-layer-1: #{dark.$background-layer-1};
    --background-layer-2: #{dark.$background-layer-2};
    --background-layer-3: #{dark.$background-layer-3};
    --background-layer-4: #{dark.$background-layer-4};
    --background-layer-5: #{dark.$background-layer-5};
  }
}

.theme[data-theme="light"] {
  --white: #{colors.$white};
  --black: #{colors.$black};
  --grey-main: #{colors.$grey-main};
  --grey-50: #{colors.$grey-50};
  --grey-100: #{colors.$grey-100};
  --grey-200: #{colors.$grey-200};
  --grey-300: #{colors.$grey-300};
  --grey-400: #{colors.$grey-400};
  --grey-500: #{colors.$grey-500};
  --grey-600: #{colors.$grey-600};
  --grey-700: #{colors.$grey-700};
  --grey-800: #{colors.$grey-800};
  --grey-900: #{colors.$grey-900};
  --cool-grey-main: #{colors.$cool-grey-main};
  --cool-grey-50: #{colors.$cool-grey-50};
  --cool-grey-100: #{colors.$cool-grey-100};
  --cool-grey-200: #{colors.$cool-grey-200};
  --cool-grey-300: #{colors.$cool-grey-300};
  --cool-grey-400: #{colors.$cool-grey-400};
  --cool-grey-500: #{colors.$cool-grey-500};
  --cool-grey-600: #{colors.$cool-grey-600};
  --cool-grey-700: #{colors.$cool-grey-700};
  --cool-grey-800: #{colors.$cool-grey-800};
  --cool-grey-900: #{colors.$cool-grey-900};
  --warm-grey-main: #{colors.$warm-grey-main};
  --warm-grey-50: #{colors.$warm-grey-50};
  --warm-grey-100: #{colors.$warm-grey-100};
  --warm-grey-200: #{colors.$warm-grey-200};
  --warm-grey-300: #{colors.$warm-grey-300};
  --warm-grey-400: #{colors.$warm-grey-400};
  --warm-grey-500: #{colors.$warm-grey-500};
  --warm-grey-600: #{colors.$warm-grey-600};
  --warm-grey-700: #{colors.$warm-grey-700};
  --warm-grey-800: #{colors.$warm-grey-800};
  --warm-grey-900: #{colors.$warm-grey-900};
  --brown-main: #{colors.$brown-main};
  --brown-50: #{colors.$brown-50};
  --brown-100: #{colors.$brown-100};
  --brown-200: #{colors.$brown-200};
  --brown-300: #{colors.$brown-300};
  --brown-400: #{colors.$brown-400};
  --brown-500: #{colors.$brown-500};
  --brown-600: #{colors.$brown-600};
  --brown-700: #{colors.$brown-700};
  --brown-800: #{colors.$brown-800};
  --brown-900: #{colors.$brown-900};
  --red-main: #{colors.$red-main};
  --red-50: #{colors.$red-50};
  --red-100: #{colors.$red-100};
  --red-200: #{colors.$red-200};
  --red-300: #{colors.$red-300};
  --red-400: #{colors.$red-400};
  --red-500: #{colors.$red-500};
  --red-600: #{colors.$red-600};
  --red-700: #{colors.$red-700};
  --red-800: #{colors.$red-800};
  --red-900: #{colors.$red-900};
  --crimson-main: #{colors.$crimson-main};
  --crimson-50: #{colors.$crimson-50};
  --crimson-100: #{colors.$crimson-100};
  --crimson-200: #{colors.$crimson-200};
  --crimson-300: #{colors.$crimson-300};
  --crimson-400: #{colors.$crimson-400};
  --crimson-500: #{colors.$crimson-500};
  --crimson-600: #{colors.$crimson-600};
  --crimson-700: #{colors.$crimson-700};
  --crimson-800: #{colors.$crimson-800};
  --crimson-900: #{colors.$crimson-900};
  --orange-main: #{colors.$orange-main};
  --orange-50: #{colors.$orange-50};
  --orange-100: #{colors.$orange-100};
  --orange-200: #{colors.$orange-200};
  --orange-300: #{colors.$orange-300};
  --orange-400: #{colors.$orange-400};
  --orange-500: #{colors.$orange-500};
  --orange-600: #{colors.$orange-600};
  --orange-700: #{colors.$orange-700};
  --orange-800: #{colors.$orange-800};
  --orange-900: #{colors.$orange-900};
  --amber-main: #{colors.$amber-main};
  --amber-50: #{colors.$amber-50};
  --amber-100: #{colors.$amber-100};
  --amber-200: #{colors.$amber-200};
  --amber-300: #{colors.$amber-300};
  --amber-400: #{colors.$amber-400};
  --amber-500: #{colors.$amber-500};
  --amber-600: #{colors.$amber-600};
  --amber-700: #{colors.$amber-700};
  --amber-800: #{colors.$amber-800};
  --amber-900: #{colors.$amber-900};
  --yellow-main: #{colors.$yellow-main};
  --yellow-50: #{colors.$yellow-50};
  --yellow-100: #{colors.$yellow-100};
  --yellow-200: #{colors.$yellow-200};
  --yellow-300: #{colors.$yellow-300};
  --yellow-400: #{colors.$yellow-400};
  --yellow-500: #{colors.$yellow-500};
  --yellow-600: #{colors.$yellow-600};
  --yellow-700: #{colors.$yellow-700};
  --yellow-800: #{colors.$yellow-800};
  --yellow-900: #{colors.$yellow-900};
  --lime-main: #{colors.$lime-main};
  --lime-50: #{colors.$lime-50};
  --lime-100: #{colors.$lime-100};
  --lime-200: #{colors.$lime-200};
  --lime-300: #{colors.$lime-300};
  --lime-400: #{colors.$lime-400};
  --lime-500: #{colors.$lime-500};
  --lime-600: #{colors.$lime-600};
  --lime-700: #{colors.$lime-700};
  --lime-800: #{colors.$lime-800};
  --lime-900: #{colors.$lime-900};
  --light-green-main: #{colors.$light-green-main};
  --light-green-50: #{colors.$light-green-50};
  --light-green-100: #{colors.$light-green-100};
  --light-green-200: #{colors.$light-green-200};
  --light-green-300: #{colors.$light-green-300};
  --light-green-400: #{colors.$light-green-400};
  --light-green-500: #{colors.$light-green-500};
  --light-green-600: #{colors.$light-green-600};
  --light-green-700: #{colors.$light-green-700};
  --light-green-800: #{colors.$light-green-800};
  --light-green-900: #{colors.$light-green-900};
  --green-main: #{colors.$green-main};
  --green-50: #{colors.$green-50};
  --green-100: #{colors.$green-100};
  --green-200: #{colors.$green-200};
  --green-300: #{colors.$green-300};
  --green-400: #{colors.$green-400};
  --green-500: #{colors.$green-500};
  --green-600: #{colors.$green-600};
  --green-700: #{colors.$green-700};
  --green-800: #{colors.$green-800};
  --green-900: #{colors.$green-900};
  --teal-main: #{colors.$teal-main};
  --teal-50: #{colors.$teal-50};
  --teal-100: #{colors.$teal-100};
  --teal-200: #{colors.$teal-200};
  --teal-300: #{colors.$teal-300};
  --teal-400: #{colors.$teal-400};
  --teal-500: #{colors.$teal-500};
  --teal-600: #{colors.$teal-600};
  --teal-700: #{colors.$teal-700};
  --teal-800: #{colors.$teal-800};
  --teal-900: #{colors.$teal-900};
  --cyan-main: #{colors.$cyan-main};
  --cyan-50: #{colors.$cyan-50};
  --cyan-100: #{colors.$cyan-100};
  --cyan-200: #{colors.$cyan-200};
  --cyan-300: #{colors.$cyan-300};
  --cyan-400: #{colors.$cyan-400};
  --cyan-500: #{colors.$cyan-500};
  --cyan-600: #{colors.$cyan-600};
  --cyan-700: #{colors.$cyan-700};
  --cyan-800: #{colors.$cyan-800};
  --cyan-900: #{colors.$cyan-900};
  --light-blue-main: #{colors.$light-blue-main};
  --light-blue-50: #{colors.$light-blue-50};
  --light-blue-100: #{colors.$light-blue-100};
  --light-blue-200: #{colors.$light-blue-200};
  --light-blue-300: #{colors.$light-blue-300};
  --light-blue-400: #{colors.$light-blue-400};
  --light-blue-500: #{colors.$light-blue-500};
  --light-blue-600: #{colors.$light-blue-600};
  --light-blue-700: #{colors.$light-blue-700};
  --light-blue-800: #{colors.$light-blue-800};
  --light-blue-900: #{colors.$light-blue-900};
  --blue-main: #{colors.$blue-main};
  --blue-50: #{colors.$blue-50};
  --blue-100: #{colors.$blue-100};
  --blue-200: #{colors.$blue-200};
  --blue-300: #{colors.$blue-300};
  --blue-400: #{colors.$blue-400};
  --blue-500: #{colors.$blue-500};
  --blue-600: #{colors.$blue-600};
  --blue-700: #{colors.$blue-700};
  --blue-800: #{colors.$blue-800};
  --blue-900: #{colors.$blue-900};
  --indigo-main: #{colors.$indigo-main};
  --indigo-50: #{colors.$indigo-50};
  --indigo-100: #{colors.$indigo-100};
  --indigo-200: #{colors.$indigo-200};
  --indigo-300: #{colors.$indigo-300};
  --indigo-400: #{colors.$indigo-400};
  --indigo-500: #{colors.$indigo-500};
  --indigo-600: #{colors.$indigo-600};
  --indigo-700: #{colors.$indigo-700};
  --indigo-800: #{colors.$indigo-800};
  --indigo-900: #{colors.$indigo-900};
  --purple-main: #{colors.$purple-main};
  --purple-50: #{colors.$purple-50};
  --purple-100: #{colors.$purple-100};
  --purple-200: #{colors.$purple-200};
  --purple-300: #{colors.$purple-300};
  --purple-400: #{colors.$purple-400};
  --purple-500: #{colors.$purple-500};
  --purple-600: #{colors.$purple-600};
  --purple-700: #{colors.$purple-700};
  --purple-800: #{colors.$purple-800};
  --purple-900: #{colors.$purple-900};
  --pink-main: #{colors.$pink-main};
  --pink-50: #{colors.$pink-50};
  --pink-100: #{colors.$pink-100};
  --pink-200: #{colors.$pink-200};
  --pink-300: #{colors.$pink-300};
  --pink-400: #{colors.$pink-400};
  --pink-500: #{colors.$pink-500};
  --pink-600: #{colors.$pink-600};
  --pink-700: #{colors.$pink-700};
  --pink-800: #{colors.$pink-800};
  --pink-900: #{colors.$pink-900};
  --text-primary: #{light.$text-primary};
  --text-secondary: #{light.$text-secondary};
  --text-disabled: #{light.$text-disabled};
  --divider-main: #{light.$divider-main};
  --background: #{light.$background};
  --background-layer-0: #{light.$background-layer-0};
  --background-layer-1: #{light.$background-layer-1};
  --background-layer-2: #{light.$background-layer-2};
  --background-layer-3: #{light.$background-layer-3};
  --background-layer-4: #{light.$background-layer-4};
  --background-layer-5: #{light.$background-layer-5};
}

.theme[data-theme="dark"] {
  --white: #{colors.$white};
  --black: #{colors.$black};
  --grey-main: #{colors.$grey-main};
  --grey-50: #{colors.$grey-50};
  --grey-100: #{colors.$grey-100};
  --grey-200: #{colors.$grey-200};
  --grey-300: #{colors.$grey-300};
  --grey-400: #{colors.$grey-400};
  --grey-500: #{colors.$grey-500};
  --grey-600: #{colors.$grey-600};
  --grey-700: #{colors.$grey-700};
  --grey-800: #{colors.$grey-800};
  --grey-900: #{colors.$grey-900};
  --cool-grey-main: #{colors.$cool-grey-main};
  --cool-grey-50: #{colors.$cool-grey-50};
  --cool-grey-100: #{colors.$cool-grey-100};
  --cool-grey-200: #{colors.$cool-grey-200};
  --cool-grey-300: #{colors.$cool-grey-300};
  --cool-grey-400: #{colors.$cool-grey-400};
  --cool-grey-500: #{colors.$cool-grey-500};
  --cool-grey-600: #{colors.$cool-grey-600};
  --cool-grey-700: #{colors.$cool-grey-700};
  --cool-grey-800: #{colors.$cool-grey-800};
  --cool-grey-900: #{colors.$cool-grey-900};
  --warm-grey-main: #{colors.$warm-grey-main};
  --warm-grey-50: #{colors.$warm-grey-50};
  --warm-grey-100: #{colors.$warm-grey-100};
  --warm-grey-200: #{colors.$warm-grey-200};
  --warm-grey-300: #{colors.$warm-grey-300};
  --warm-grey-400: #{colors.$warm-grey-400};
  --warm-grey-500: #{colors.$warm-grey-500};
  --warm-grey-600: #{colors.$warm-grey-600};
  --warm-grey-700: #{colors.$warm-grey-700};
  --warm-grey-800: #{colors.$warm-grey-800};
  --warm-grey-900: #{colors.$warm-grey-900};
  --brown-main: #{colors.$brown-main};
  --brown-50: #{colors.$brown-50};
  --brown-100: #{colors.$brown-100};
  --brown-200: #{colors.$brown-200};
  --brown-300: #{colors.$brown-300};
  --brown-400: #{colors.$brown-400};
  --brown-500: #{colors.$brown-500};
  --brown-600: #{colors.$brown-600};
  --brown-700: #{colors.$brown-700};
  --brown-800: #{colors.$brown-800};
  --brown-900: #{colors.$brown-900};
  --red-main: #{colors.$red-main};
  --red-50: #{colors.$red-50};
  --red-100: #{colors.$red-100};
  --red-200: #{colors.$red-200};
  --red-300: #{colors.$red-300};
  --red-400: #{colors.$red-400};
  --red-500: #{colors.$red-500};
  --red-600: #{colors.$red-600};
  --red-700: #{colors.$red-700};
  --red-800: #{colors.$red-800};
  --red-900: #{colors.$red-900};
  --crimson-main: #{colors.$crimson-main};
  --crimson-50: #{colors.$crimson-50};
  --crimson-100: #{colors.$crimson-100};
  --crimson-200: #{colors.$crimson-200};
  --crimson-300: #{colors.$crimson-300};
  --crimson-400: #{colors.$crimson-400};
  --crimson-500: #{colors.$crimson-500};
  --crimson-600: #{colors.$crimson-600};
  --crimson-700: #{colors.$crimson-700};
  --crimson-800: #{colors.$crimson-800};
  --crimson-900: #{colors.$crimson-900};
  --orange-main: #{colors.$orange-main};
  --orange-50: #{colors.$orange-50};
  --orange-100: #{colors.$orange-100};
  --orange-200: #{colors.$orange-200};
  --orange-300: #{colors.$orange-300};
  --orange-400: #{colors.$orange-400};
  --orange-500: #{colors.$orange-500};
  --orange-600: #{colors.$orange-600};
  --orange-700: #{colors.$orange-700};
  --orange-800: #{colors.$orange-800};
  --orange-900: #{colors.$orange-900};
  --amber-main: #{colors.$amber-main};
  --amber-50: #{colors.$amber-50};
  --amber-100: #{colors.$amber-100};
  --amber-200: #{colors.$amber-200};
  --amber-300: #{colors.$amber-300};
  --amber-400: #{colors.$amber-400};
  --amber-500: #{colors.$amber-500};
  --amber-600: #{colors.$amber-600};
  --amber-700: #{colors.$amber-700};
  --amber-800: #{colors.$amber-800};
  --amber-900: #{colors.$amber-900};
  --yellow-main: #{colors.$yellow-main};
  --yellow-50: #{colors.$yellow-50};
  --yellow-100: #{colors.$yellow-100};
  --yellow-200: #{colors.$yellow-200};
  --yellow-300: #{colors.$yellow-300};
  --yellow-400: #{colors.$yellow-400};
  --yellow-500: #{colors.$yellow-500};
  --yellow-600: #{colors.$yellow-600};
  --yellow-700: #{colors.$yellow-700};
  --yellow-800: #{colors.$yellow-800};
  --yellow-900: #{colors.$yellow-900};
  --lime-main: #{colors.$lime-main};
  --lime-50: #{colors.$lime-50};
  --lime-100: #{colors.$lime-100};
  --lime-200: #{colors.$lime-200};
  --lime-300: #{colors.$lime-300};
  --lime-400: #{colors.$lime-400};
  --lime-500: #{colors.$lime-500};
  --lime-600: #{colors.$lime-600};
  --lime-700: #{colors.$lime-700};
  --lime-800: #{colors.$lime-800};
  --lime-900: #{colors.$lime-900};
  --light-green-main: #{colors.$light-green-main};
  --light-green-50: #{colors.$light-green-50};
  --light-green-100: #{colors.$light-green-100};
  --light-green-200: #{colors.$light-green-200};
  --light-green-300: #{colors.$light-green-300};
  --light-green-400: #{colors.$light-green-400};
  --light-green-500: #{colors.$light-green-500};
  --light-green-600: #{colors.$light-green-600};
  --light-green-700: #{colors.$light-green-700};
  --light-green-800: #{colors.$light-green-800};
  --light-green-900: #{colors.$light-green-900};
  --green-main: #{colors.$green-main};
  --green-50: #{colors.$green-50};
  --green-100: #{colors.$green-100};
  --green-200: #{colors.$green-200};
  --green-300: #{colors.$green-300};
  --green-400: #{colors.$green-400};
  --green-500: #{colors.$green-500};
  --green-600: #{colors.$green-600};
  --green-700: #{colors.$green-700};
  --green-800: #{colors.$green-800};
  --green-900: #{colors.$green-900};
  --teal-main: #{colors.$teal-main};
  --teal-50: #{colors.$teal-50};
  --teal-100: #{colors.$teal-100};
  --teal-200: #{colors.$teal-200};
  --teal-300: #{colors.$teal-300};
  --teal-400: #{colors.$teal-400};
  --teal-500: #{colors.$teal-500};
  --teal-600: #{colors.$teal-600};
  --teal-700: #{colors.$teal-700};
  --teal-800: #{colors.$teal-800};
  --teal-900: #{colors.$teal-900};
  --cyan-main: #{colors.$cyan-main};
  --cyan-50: #{colors.$cyan-50};
  --cyan-100: #{colors.$cyan-100};
  --cyan-200: #{colors.$cyan-200};
  --cyan-300: #{colors.$cyan-300};
  --cyan-400: #{colors.$cyan-400};
  --cyan-500: #{colors.$cyan-500};
  --cyan-600: #{colors.$cyan-600};
  --cyan-700: #{colors.$cyan-700};
  --cyan-800: #{colors.$cyan-800};
  --cyan-900: #{colors.$cyan-900};
  --light-blue-main: #{colors.$light-blue-main};
  --light-blue-50: #{colors.$light-blue-50};
  --light-blue-100: #{colors.$light-blue-100};
  --light-blue-200: #{colors.$light-blue-200};
  --light-blue-300: #{colors.$light-blue-300};
  --light-blue-400: #{colors.$light-blue-400};
  --light-blue-500: #{colors.$light-blue-500};
  --light-blue-600: #{colors.$light-blue-600};
  --light-blue-700: #{colors.$light-blue-700};
  --light-blue-800: #{colors.$light-blue-800};
  --light-blue-900: #{colors.$light-blue-900};
  --blue-main: #{colors.$blue-main};
  --blue-50: #{colors.$blue-50};
  --blue-100: #{colors.$blue-100};
  --blue-200: #{colors.$blue-200};
  --blue-300: #{colors.$blue-300};
  --blue-400: #{colors.$blue-400};
  --blue-500: #{colors.$blue-500};
  --blue-600: #{colors.$blue-600};
  --blue-700: #{colors.$blue-700};
  --blue-800: #{colors.$blue-800};
  --blue-900: #{colors.$blue-900};
  --indigo-main: #{colors.$indigo-main};
  --indigo-50: #{colors.$indigo-50};
  --indigo-100: #{colors.$indigo-100};
  --indigo-200: #{colors.$indigo-200};
  --indigo-300: #{colors.$indigo-300};
  --indigo-400: #{colors.$indigo-400};
  --indigo-500: #{colors.$indigo-500};
  --indigo-600: #{colors.$indigo-600};
  --indigo-700: #{colors.$indigo-700};
  --indigo-800: #{colors.$indigo-800};
  --indigo-900: #{colors.$indigo-900};
  --purple-main: #{colors.$purple-main};
  --purple-50: #{colors.$purple-50};
  --purple-100: #{colors.$purple-100};
  --purple-200: #{colors.$purple-200};
  --purple-300: #{colors.$purple-300};
  --purple-400: #{colors.$purple-400};
  --purple-500: #{colors.$purple-500};
  --purple-600: #{colors.$purple-600};
  --purple-700: #{colors.$purple-700};
  --purple-800: #{colors.$purple-800};
  --purple-900: #{colors.$purple-900};
  --pink-main: #{colors.$pink-main};
  --pink-50: #{colors.$pink-50};
  --pink-100: #{colors.$pink-100};
  --pink-200: #{colors.$pink-200};
  --pink-300: #{colors.$pink-300};
  --pink-400: #{colors.$pink-400};
  --pink-500: #{colors.$pink-500};
  --pink-600: #{colors.$pink-600};
  --pink-700: #{colors.$pink-700};
  --pink-800: #{colors.$pink-800};
  --pink-900: #{colors.$pink-900};
  --text-primary: #{dark.$text-primary};
  --text-secondary: #{dark.$text-secondary};
  --text-disabled: #{dark.$text-disabled};
  --divider-main: #{dark.$divider-main};
  --background: #{dark.$background};
  --background-layer-0: #{dark.$background-layer-0};
  --background-layer-1: #{dark.$background-layer-1};
  --background-layer-2: #{dark.$background-layer-2};
  --background-layer-3: #{dark.$background-layer-3};
  --background-layer-4: #{dark.$background-layer-4};
  --background-layer-5: #{dark.$background-layer-5};
}

// Use these SCSS color variables in all other SCSS files
$white: var(--white);
$black: var(--black);
$grey-main: var(--grey-main);
$grey-50: var(--grey-50);
$grey-100: var(--grey-100);
$grey-200: var(--grey-200);
$grey-300: var(--grey-300);
$grey-400: var(--grey-400);
$grey-500: var(--grey-500);
$grey-600: var(--grey-600);
$grey-700: var(--grey-700);
$grey-800: var(--grey-800);
$grey-900: var(--grey-900);
$cool-grey-main: var(--cool-grey-main);
$cool-grey-50: var(--cool-grey-50);
$cool-grey-100: var(--cool-grey-100);
$cool-grey-200: var(--cool-grey-200);
$cool-grey-300: var(--cool-grey-300);
$cool-grey-400: var(--cool-grey-400);
$cool-grey-500: var(--cool-grey-500);
$cool-grey-600: var(--cool-grey-600);
$cool-grey-700: var(--cool-grey-700);
$cool-grey-800: var(--cool-grey-800);
$cool-grey-900: var(--cool-grey-900);
$warm-grey-main: var(--warm-grey-main);
$warm-grey-50: var(--warm-grey-50);
$warm-grey-100: var(--warm-grey-100);
$warm-grey-200: var(--warm-grey-200);
$warm-grey-300: var(--warm-grey-300);
$warm-grey-400: var(--warm-grey-400);
$warm-grey-500: var(--warm-grey-500);
$warm-grey-600: var(--warm-grey-600);
$warm-grey-700: var(--warm-grey-700);
$warm-grey-800: var(--warm-grey-800);
$warm-grey-900: var(--warm-grey-900);
$brown-main: var(--brown-main);
$brown-50: var(--brown-50);
$brown-100: var(--brown-100);
$brown-200: var(--brown-200);
$brown-300: var(--brown-300);
$brown-400: var(--brown-400);
$brown-500: var(--brown-500);
$brown-600: var(--brown-600);
$brown-700: var(--brown-700);
$brown-800: var(--brown-800);
$brown-900: var(--brown-900);
$red-main: var(--red-main);
$red-50: var(--red-50);
$red-100: var(--red-100);
$red-200: var(--red-200);
$red-300: var(--red-300);
$red-400: var(--red-400);
$red-500: var(--red-500);
$red-600: var(--red-600);
$red-700: var(--red-700);
$red-800: var(--red-800);
$red-900: var(--red-900);
$crimson-main: var(--crimson-main);
$crimson-50: var(--crimson-50);
$crimson-100: var(--crimson-100);
$crimson-200: var(--crimson-200);
$crimson-300: var(--crimson-300);
$crimson-400: var(--crimson-400);
$crimson-500: var(--crimson-500);
$crimson-600: var(--crimson-600);
$crimson-700: var(--crimson-700);
$crimson-800: var(--crimson-800);
$crimson-900: var(--crimson-900);
$orange-main: var(--orange-main);
$orange-50: var(--orange-50);
$orange-100: var(--orange-100);
$orange-200: var(--orange-200);
$orange-300: var(--orange-300);
$orange-400: var(--orange-400);
$orange-500: var(--orange-500);
$orange-600: var(--orange-600);
$orange-700: var(--orange-700);
$orange-800: var(--orange-800);
$orange-900: var(--orange-900);
$amber-main: var(--amber-main);
$amber-50: var(--amber-50);
$amber-100: var(--amber-100);
$amber-200: var(--amber-200);
$amber-300: var(--amber-300);
$amber-400: var(--amber-400);
$amber-500: var(--amber-500);
$amber-600: var(--amber-600);
$amber-700: var(--amber-700);
$amber-800: var(--amber-800);
$amber-900: var(--amber-900);
$yellow-main: var(--yellow-main);
$yellow-50: var(--yellow-50);
$yellow-100: var(--yellow-100);
$yellow-200: var(--yellow-200);
$yellow-300: var(--yellow-300);
$yellow-400: var(--yellow-400);
$yellow-500: var(--yellow-500);
$yellow-600: var(--yellow-600);
$yellow-700: var(--yellow-700);
$yellow-800: var(--yellow-800);
$yellow-900: var(--yellow-900);
$lime-main: var(--lime-main);
$lime-50: var(--lime-50);
$lime-100: var(--lime-100);
$lime-200: var(--lime-200);
$lime-300: var(--lime-300);
$lime-400: var(--lime-400);
$lime-500: var(--lime-500);
$lime-600: var(--lime-600);
$lime-700: var(--lime-700);
$lime-800: var(--lime-800);
$lime-900: var(--lime-900);
$light-green-main: var(--light-green-main);
$light-green-50: var(--light-green-50);
$light-green-100: var(--light-green-100);
$light-green-200: var(--light-green-200);
$light-green-300: var(--light-green-300);
$light-green-400: var(--light-green-400);
$light-green-500: var(--light-green-500);
$light-green-600: var(--light-green-600);
$light-green-700: var(--light-green-700);
$light-green-800: var(--light-green-800);
$light-green-900: var(--light-green-900);
$green-main: var(--green-main);
$green-50: var(--green-50);
$green-100: var(--green-100);
$green-200: var(--green-200);
$green-300: var(--green-300);
$green-400: var(--green-400);
$green-500: var(--green-500);
$green-600: var(--green-600);
$green-700: var(--green-700);
$green-800: var(--green-800);
$green-900: var(--green-900);
$teal-main: var(--teal-main);
$teal-50: var(--teal-50);
$teal-100: var(--teal-100);
$teal-200: var(--teal-200);
$teal-300: var(--teal-300);
$teal-400: var(--teal-400);
$teal-500: var(--teal-500);
$teal-600: var(--teal-600);
$teal-700: var(--teal-700);
$teal-800: var(--teal-800);
$teal-900: var(--teal-900);
$cyan-main: var(--cyan-main);
$cyan-50: var(--cyan-50);
$cyan-100: var(--cyan-100);
$cyan-200: var(--cyan-200);
$cyan-300: var(--cyan-300);
$cyan-400: var(--cyan-400);
$cyan-500: var(--cyan-500);
$cyan-600: var(--cyan-600);
$cyan-700: var(--cyan-700);
$cyan-800: var(--cyan-800);
$cyan-900: var(--cyan-900);
$light-blue-main: var(--light-blue-main);
$light-blue-50: var(--light-blue-50);
$light-blue-100: var(--light-blue-100);
$light-blue-200: var(--light-blue-200);
$light-blue-300: var(--light-blue-300);
$light-blue-400: var(--light-blue-400);
$light-blue-500: var(--light-blue-500);
$light-blue-600: var(--light-blue-600);
$light-blue-700: var(--light-blue-700);
$light-blue-800: var(--light-blue-800);
$light-blue-900: var(--light-blue-900);
$blue-main: var(--blue-main);
$blue-50: var(--blue-50);
$blue-100: var(--blue-100);
$blue-200: var(--blue-200);
$blue-300: var(--blue-300);
$blue-400: var(--blue-400);
$blue-500: var(--blue-500);
$blue-600: var(--blue-600);
$blue-700: var(--blue-700);
$blue-800: var(--blue-800);
$blue-900: var(--blue-900);
$indigo-main: var(--indigo-main);
$indigo-50: var(--indigo-50);
$indigo-100: var(--indigo-100);
$indigo-200: var(--indigo-200);
$indigo-300: var(--indigo-300);
$indigo-400: var(--indigo-400);
$indigo-500: var(--indigo-500);
$indigo-600: var(--indigo-600);
$indigo-700: var(--indigo-700);
$indigo-800: var(--indigo-800);
$indigo-900: var(--indigo-900);
$purple-main: var(--purple-main);
$purple-50: var(--purple-50);
$purple-100: var(--purple-100);
$purple-200: var(--purple-200);
$purple-300: var(--purple-300);
$purple-400: var(--purple-400);
$purple-500: var(--purple-500);
$purple-600: var(--purple-600);
$purple-700: var(--purple-700);
$purple-800: var(--purple-800);
$purple-900: var(--purple-900);
$pink-main: var(--pink-main);
$pink-50: var(--pink-50);
$pink-100: var(--pink-100);
$pink-200: var(--pink-200);
$pink-300: var(--pink-300);
$pink-400: var(--pink-400);
$pink-500: var(--pink-500);
$pink-600: var(--pink-600);
$pink-700: var(--pink-700);
$pink-800: var(--pink-800);
$pink-900: var(--pink-900);
$text-primary: var(--text-primary);
$text-secondary: var(--text-secondary);
$text-disabled: var(--text-disabled);
$divider-main: var(--divider-main);
$background: var(--background);
$background-layer-0: var(--background-layer-0);
$background-layer-1: var(--background-layer-1);
$background-layer-2: var(--background-layer-2);
$background-layer-3: var(--background-layer-3);
$background-layer-4: var(--background-layer-4);
$background-layer-5: var(--background-layer-5);

// Use these SCSS color variables in all other js/ts files
// :export {
//   white: $white;
//   black: $black;
//   greyMain: $grey-main;
//   grey50: $grey-50;
//   grey100: $grey-100;
//   grey200: $grey-200;
//   grey300: $grey-300;
//   grey400: $grey-400;
//   grey500: $grey-500;
//   grey600: $grey-600;
//   grey700: $grey-700;
//   grey800: $grey-800;
//   grey900: $grey-900;
//   coolGreyMain: $cool-grey-main;
//   coolGrey50: $cool-grey-50;
//   coolGrey100: $cool-grey-100;
//   coolGrey200: $cool-grey-200;
//   coolGrey300: $cool-grey-300;
//   coolGrey400: $cool-grey-400;
//   coolGrey500: $cool-grey-500;
//   coolGrey600: $cool-grey-600;
//   coolGrey700: $cool-grey-700;
//   coolGrey800: $cool-grey-800;
//   coolGrey900: $cool-grey-900;
//   warmGreyMain: $warm-grey-main;
//   warmGrey50: $warm-grey-50;
//   warmGrey100: $warm-grey-100;
//   warmGrey200: $warm-grey-200;
//   warmGrey300: $warm-grey-300;
//   warmGrey400: $warm-grey-400;
//   warmGrey500: $warm-grey-500;
//   warmGrey600: $warm-grey-600;
//   warmGrey700: $warm-grey-700;
//   warmGrey800: $warm-grey-800;
//   warmGrey900: $warm-grey-900;
//   brownMain: $brown-main;
//   brown50: $brown-50;
//   brown100: $brown-100;
//   brown200: $brown-200;
//   brown300: $brown-300;
//   brown400: $brown-400;
//   brown500: $brown-500;
//   brown600: $brown-600;
//   brown700: $brown-700;
//   brown800: $brown-800;
//   brown900: $brown-900;
//   redMain: $red-main;
//   red50: $red-50;
//   red100: $red-100;
//   red200: $red-200;
//   red300: $red-300;
//   red400: $red-400;
//   red500: $red-500;
//   red600: $red-600;
//   red700: $red-700;
//   red800: $red-800;
//   red900: $red-900;
//   crimsonMain: $crimson-main;
//   crimson50: $crimson-50;
//   crimson100: $crimson-100;
//   crimson200: $crimson-200;
//   crimson300: $crimson-300;
//   crimson400: $crimson-400;
//   crimson500: $crimson-500;
//   crimson600: $crimson-600;
//   crimson700: $crimson-700;
//   crimson800: $crimson-800;
//   crimson900: $crimson-900;
//   orangeMain: $orange-main;
//   orange50: $orange-50;
//   orange100: $orange-100;
//   orange200: $orange-200;
//   orange300: $orange-300;
//   orange400: $orange-400;
//   orange500: $orange-500;
//   orange600: $orange-600;
//   orange700: $orange-700;
//   orange800: $orange-800;
//   orange900: $orange-900;
//   amberMain: $amber-main;
//   amber50: $amber-50;
//   amber100: $amber-100;
//   amber200: $amber-200;
//   amber300: $amber-300;
//   amber400: $amber-400;
//   amber500: $amber-500;
//   amber600: $amber-600;
//   amber700: $amber-700;
//   amber800: $amber-800;
//   amber900: $amber-900;
//   yellowMain: $yellow-main;
//   yellow50: $yellow-50;
//   yellow100: $yellow-100;
//   yellow200: $yellow-200;
//   yellow300: $yellow-300;
//   yellow400: $yellow-400;
//   yellow500: $yellow-500;
//   yellow600: $yellow-600;
//   yellow700: $yellow-700;
//   yellow800: $yellow-800;
//   yellow900: $yellow-900;
//   limeMain: $lime-main;
//   lime50: $lime-50;
//   lime100: $lime-100;
//   lime200: $lime-200;
//   lime300: $lime-300;
//   lime400: $lime-400;
//   lime500: $lime-500;
//   lime600: $lime-600;
//   lime700: $lime-700;
//   lime800: $lime-800;
//   lime900: $lime-900;
//   lightGreenMain: $light-green-main;
//   lightGreen50: $light-green-50;
//   lightGreen100: $light-green-100;
//   lightGreen200: $light-green-200;
//   lightGreen300: $light-green-300;
//   lightGreen400: $light-green-400;
//   lightGreen500: $light-green-500;
//   lightGreen600: $light-green-600;
//   lightGreen700: $light-green-700;
//   lightGreen800: $light-green-800;
//   lightGreen900: $light-green-900;
//   greenMain: $green-main;
//   green50: $green-50;
//   green100: $green-100;
//   green200: $green-200;
//   green300: $green-300;
//   green400: $green-400;
//   green500: $green-500;
//   green600: $green-600;
//   green700: $green-700;
//   green800: $green-800;
//   green900: $green-900;
//   tealMain: $teal-main;
//   teal50: $teal-50;
//   teal100: $teal-100;
//   teal200: $teal-200;
//   teal300: $teal-300;
//   teal400: $teal-400;
//   teal500: $teal-500;
//   teal600: $teal-600;
//   teal700: $teal-700;
//   teal800: $teal-800;
//   teal900: $teal-900;
//   cyanMain: $cyan-main;
//   cyan50: $cyan-50;
//   cyan100: $cyan-100;
//   cyan200: $cyan-200;
//   cyan300: $cyan-300;
//   cyan400: $cyan-400;
//   cyan500: $cyan-500;
//   cyan600: $cyan-600;
//   cyan700: $cyan-700;
//   cyan800: $cyan-800;
//   cyan900: $cyan-900;
//   lightBlueMain: $light-blue-main;
//   lightBlue50: $light-blue-50;
//   lightBlue100: $light-blue-100;
//   lightBlue200: $light-blue-200;
//   lightBlue300: $light-blue-300;
//   lightBlue400: $light-blue-400;
//   lightBlue500: $light-blue-500;
//   lightBlue600: $light-blue-600;
//   lightBlue700: $light-blue-700;
//   lightBlue800: $light-blue-800;
//   lightBlue900: $light-blue-900;
//   blueMain: $blue-main;
//   blue50: $blue-50;
//   blue100: $blue-100;
//   blue200: $blue-200;
//   blue300: $blue-300;
//   blue400: $blue-400;
//   blue500: $blue-500;
//   blue600: $blue-600;
//   blue700: $blue-700;
//   blue800: $blue-800;
//   blue900: $blue-900;
//   indigoMain: $indigo-main;
//   indigo50: $indigo-50;
//   indigo100: $indigo-100;
//   indigo200: $indigo-200;
//   indigo300: $indigo-300;
//   indigo400: $indigo-400;
//   indigo500: $indigo-500;
//   indigo600: $indigo-600;
//   indigo700: $indigo-700;
//   indigo800: $indigo-800;
//   indigo900: $indigo-900;
//   purpleMain: $purple-main;
//   purple50: $purple-50;
//   purple100: $purple-100;
//   purple200: $purple-200;
//   purple300: $purple-300;
//   purple400: $purple-400;
//   purple500: $purple-500;
//   purple600: $purple-600;
//   purple700: $purple-700;
//   purple800: $purple-800;
//   purple900: $purple-900;
//   pinkMain: $pink-main;
//   pink50: $pink-50;
//   pink100: $pink-100;
//   pink200: $pink-200;
//   pink300: $pink-300;
//   pink400: $pink-400;
//   pink500: $pink-500;
//   pink600: $pink-600;
//   pink700: $pink-700;
//   pink800: $pink-800;
//   pink900: $pink-900;
//   textPrimary: $text-primary;
//   textSecondary: $text-secondary;
//   textDisabled: $text-disabled;
//   dividerMain: $divider-main;
//   background: $background;
//   backgroundLayer0: $background-layer-0;
//   backgroundLayer1: $background-layer-1;
//   backgroundLayer2: $background-layer-2;
//   backgroundLayer3: $background-layer-3;
//   backgroundLayer4: $background-layer-4;
//   backgroundLayer5: $background-layer-5;
// }
