@use "@/theme/theme.module.scss" as theme;

.card {
  display: grid;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 90px;
  background: theme.$background-layer-1;
  border: 2px solid theme.$text-secondary;
  border-radius: 6px;
  color: theme.$text-primary;
  transition: transform 0.2s;
  cursor: pointer;
  user-select: none;

  &:hover {
    transform: scale(1.05);
  }

  &.disabled {
    opacity: 0.5;
    pointer-events: none;
  }

  &.selected {
    border: 2px solid red;
  }

  & h2 {
    font-weight: 500;
  }
}

.theme {
  &-grey {
    &.selected {
      border-color: theme.$grey-400;
    }
  }

  &-cool-grey {
    &.selected {
      border-color: theme.$cool-grey-400;
    }
  }

  &-warm-grey {
    &.selected {
      border-color: theme.$warm-grey-400;
    }
  }

  &-brown {
    &.selected {
      border-color: theme.$brown-400;
    }
  }

  &-red {
    &.selected {
      border-color: theme.$red-400;
    }
  }

  &-crimson {
    &.selected {
      border-color: theme.$crimson-400;
    }
  }

  &-orange {
    &.selected {
      border-color: theme.$orange-400;
    }
  }

  &-amber {
    &.selected {
      border-color: theme.$amber-400;
    }
  }

  &-yellow {
    &.selected {
      border-color: theme.$yellow-400;
    }
  }

  &-lime {
    &.selected {
      border-color: theme.$lime-400;
    }
  }

  &-light-green {
    &.selected {
      border-color: theme.$light-green-400;
    }
  }

  &-green {
    &.selected {
      border-color: theme.$green-400;
    }
  }

  &-teal {
    &.selected {
      border-color: theme.$teal-400;
    }
  }

  &-cyan {
    &.selected {
      border-color: theme.$cyan-400;
    }
  }

  &-light-blue {
    &.selected {
      border-color: theme.$light-blue-400;
    }
  }

  &-blue {
    &.selected {
      border-color: theme.$blue-400;
    }
  }

  &-indigo {
    &.selected {
      border-color: theme.$indigo-400;
    }
  }

  &-purple {
    &.selected {
      border-color: theme.$purple-400;
    }
  }

  &-pink {
    &.selected {
      border-color: theme.$pink-400;
    }
  }
}
