@use "@/theme/theme.module.scss" as theme;

.field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  & label {
    margin-bottom: 0.5rem;
  }
}

.theme {
  display: grid;
  grid-template-columns: repeat(auto-fill, 44px);
  column-gap: 4px;
  border: solid 2px theme.$divider-main;
  border-radius: 8px;

  & legend {
    margin-left: 4px;
    padding: 0 4px;
  }
}
