@use "@/theme/theme.module.scss" as theme;

.container {
  display: block;
  max-width: 316px;
  width: 100%;
  padding: 2rem;
  border: solid 2px theme.$divider-main;
  border-radius: 16px;

  & h1 {
    margin-top: 0;
  }

  & label {
    margin-bottom: 0.5rem;
  }
}

.field {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;

  & label {
    margin-bottom: 0.5rem;
  }
}

.theme {
  display: grid;
  grid-template-columns: repeat(auto-fill, 44px);
  column-gap: 4px;
  border: solid 2px theme.$divider-main;
  border-radius: 8px;

  & legend {
    margin-left: 4px;
    padding: 0 4px;
  }
}
